# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
.venv

# Flask
instance/
.webassets-cache

# Unduhan lokal
downloads/
*.mp3
*.flac
*.wav
*.zip

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store
desktop.ini

# Log
*.log

# Screenshot / test
screenshots/
test/